<div class="container">
    <div class="container-fluid">
        <form>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Add a link</h5>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Title</label>
                        <input type="title" class="form-control" id="exampleInputtitle1" aria-describedby="titleHelp" placeholder="Enter title">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Link</label>
                        <input type="Link" class="form-control" id="exampleInputLink1" aria-describedby="LinkHelp" placeholder="Enter Link">
                    </div>

                    <button class="btn btn-primary">Submit Link</button>
                </div>
            </div>
        </form>
        <app-article class="m-5"></app-article>
    </div>
</div>