<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-2">
                <div class="color p-1 text-center">
                    <h1>
                        <p class="font-weight-bold"> 3 
                        <br> point
                        </p>
                    </h1>
                </div>
            </div>
            <div class="col-10">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Description</p>
                <div class="row">
                    <div class="col-2">
                        <button class="btn btn-outline-primary btn-sm"> <i class="material-icons">arrow_upward </i>Up Vote</button>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-outline-primary btn-sm"> 
                            <i class="material-icons">arrow_downward </i> Down Vote</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>